<form>
    <ul>

        <li>
            <label>
                <input name="location_id" id="location-id" type="text" placeholder="Location Id">
            </label>
        </li>
        <li>
            <label>
                <input name="variable_name" id="variable-name" type="text" placeholder="Location Variable Name">
            </label>
        </li>
        <li>
            <label>
                <input name="variable_value" id="variable-value" type="text" placeholder="Location Variable Value">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>