<form>
    <ul>
        <li>
            <label>
                <input name="role_name" id="role_name" type="text" placeholder="Role Name">
            </label>
        </li>
        <li>
            <div class="role-access-container"></div>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
    <input name="is_public" type="hidden" value="N">
</form>