<div class="item-action">
    <button class="button-edit">
        <i class="fa fa-edit"></i> Edit
    </button>
    <button class="button-delete">
        <i class="fa fa-trash"></i> Delete
    </button>
</div>

<form>
    <ul>
        <li>
            <label>
                <input value="<%= role_name %>" name="role_name" id="role-name" type="text" placeholder="Role Name">
            </label>
        </li>
        <li>
            <label>
                <input value="<%= is_public %>" name="is_public" id="is-public" type="text" placeholder="Is Public">
            </label>
        </li>
        <li>
            <label>
                <input value="<%= status %>" name="status" id="status" type="text" placeholder="status">
            </label>
        </li>
        <li>
            <div class="role-access-container"></div>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>

    <input value="<%= role_id %>" name="role_id" id="role_id" type="hidden" >
</form>
