<form>
    <ul>
        <li>
            <label>
                <input name="discount_name" id="discount-name" type="text" placeholder="Discount Name">
            </label>
        </li>
        <li>
            <label>
                <input name="print_label" id="print-label" type="text"  placeholder="Print Label">
            </label>
        </li>
        <li>
            <label>
                <input name="multiplier" id="multiplier" type="text" placeholder="Multiplier">
            </label>
        </li>
        <li>
            <label>
                <input name="constant" id="constant" type="text" placeholder="Constant">
            </label>
        </li>
        <li>
            <label>
                <input name="discount_type" id="discount-type" type="text" placeholder="Discount Type">
            </label>
        </li>
        <li>
            <label>
                <input name="applicable_to" id="applicable-to" type="text" placeholder="Applicable To">
            </label>
        </li>
        <li>
            <label>
                <input name="require_authorization" id="require-authorization" type="text" placeholder="Require Authorization">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
    <input name="is_public" value="N" type="hidden">
</form>