<form>
    <ul>
        <li>
            <label>
                <input name="inventory_group_name" id="inventory-group-name" type="text" placeholder="Inventory Group Name">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
    <input name="is_public" value="N" type="hidden">
</form>