<form>
    <ul>
        <li>
            <label>
                <input name="modifier_name" id="modifier-name" type="text" placeholder="Modifier Name">
            </label>
        </li>
        <li>
            <label>
                <input name="selection_type" id="selection-type" type="text" placeholder="Selection Type">
            </label>
        </li>
        <li>
            <label>
                <input name="modifier_type" id="modifier-type" type="text" placeholder="Modifier Type">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
    <input name="is_public" value="N" type="hidden">
</form>