<form>
    <ul>
        <li>
            <label>
                <input name="menu_group_name" id="menu-group-name" type="text" placeholder="MenuGroup Name">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
    <input name="is_public" id="is-public" type="hidden" value="N">
</form>