<div class="setting-header">{display-title}</div>
<div class="hammer">
    <ul>
        <li class="item-list">
            <ul class="{model-class}-collection controller-collection-list">
                <li>
                    <div>
                        <a class="setting-add-item-button"><i class="fa fa-plus"></i> New {model}</a>
                    </div>
                </li>
            </ul>
        </li>

        <li id="setting-item-details-container" class="item-details"></li>

    </ul>
</div>
