<form>
    <ul>
        <li>
            <label>
                <input name="area_id" id="area-id" type="text" placeholder="Area Id">
            </label>
        </li>
        <li>
            <label>
                <input name="location_name" id="location-name" type="text" placeholder="Location Name">
            </label>
        </li>
        <li>
            <label>
                <input name="max_covers" id="max-covers" type="text" placeholder="Max Cover">
            </label>
        </li>
        <li>
            <label>
                <input name="remarks" id="remarks" type="text" placeholder="Remarks">
            </label>
        </li>
        <li>
            <label>
                <input name="condition_status" id="condition-status" type="text" placeholder="Condition Status">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>