<form>
    <ul>
        <li>
            <label>
                <input name="location_name" id="location-name" type="text" value="<%= location_name %>" placeholder="<%= location_name %>">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>