<form>
    <ul>
        <li>
            <label>
                <input name="payment_mode_name" id="payment-mode-name" type="text" placeholder="Payment Mode Name">
            </label>
        </li>
        <li>
            <label>
                <input name="print_label" id="print-label" type="text" placeholder="Print Label">
            </label>
        </li>
        <li>
            <label>
                <input name="payment_mode_type" id="payment-mode-type" type="text" placeholder="Payment Mode Type">
            </label>
        </li>
        <li>
            <label>
                <input name="post_action" id="post-action" type="text" placeholder="Post Action">
            </label>
        </li>
        <li>
            <label>
                <input name="require_data" id="require-data" type="text" placeholder="Require Data">
            </label>
        </li>
        <li>
            <label>
                <input name="prompt_title" id="prompt-title" type="text" placeholder="Prompt Title">
            </label>
        </li>
        <li>
            <label>
                <input name="prompt_input_type" id="prompt-input-type" type="text" placeholder="Prompt Input Type">
            </label>
        </li>
        <li>
            <label>
                <input name="require_authorization" id="require-authorization" type="text" placeholder="Require Authorization">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
    <input name="is_public" value="N" type="hidden">
</form>