<form>
    <ul>
        <li>
            <label>
                <input name="payment_mode_name" id="payment-mode-name" type="text" value="<%= payment_mode_name %>" placeholder="<%= area_name %>">
            </label>
        </li>
        <li>
            <label>
                <select>
                    <option>ketchen</option>
                    <option>bathroom</option>
                    <option>potato</option>
                </select>
                <input id="printer-id" type="hidden" value="">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>