<form>
    <ul>
        <li>
            <label>
                <input name="first_name" id="first-name" type="text" placeholder="First Name">
            </label>
        </li>
        <li>
            <label>
                <input name="last_name" id="last-name" type="text" placeholder="Last Code">
            </label>
        </li>
        <li>
            <label>
                <input name="department" id="department" type="text" placeholder="Department">
            </label>
        </li>
        <li>
            <label>
                <input name="address" id="address" type="text" placeholder="Address">
            </label>
        </li>
        <li>
            <label>
                <input name="city" id="city" type="text" placeholder="City">
            </label>
        </li>
        <li>
            <label>
                <input name="province" id="province" type="text" placeholder="Province">
            </label>
        </li>
        <li>
            <label>
                <input name="zip_code" id="zip-code" type="text" placeholder="Zip Code">
            </label>
        </li>
        <li>
            <label>
                <input name="email" id="email" type="text" placeholder="Email">
            </label>
        </li>
        <li>
            <label>
                <input name="phone" id="phone" type="text" placeholder="Phone">
            </label>
        </li>
        <li>
            <label>
                <input name="phone2" id="phone2" type="text" placeholder="Phone 2">
            </label>
        </li>
        <li>
            <label>
                <input name="fax" id="fax" type="text" placeholder="Fax">
            </label>
        </li>
        <li>
            <label>
                <input name="instant_message_id" id="instant-message-id" type="text" placeholder="Instant Message Id">
            </label>
        </li>
        <li>
            <label>
                <input name="remarks" id="remarks" type="text" placeholder="Remarks">
            </label>
        </li>
        <li>
            <label>
                <input name="photo_url" id="photo-url" type="text" placeholder="Photo Url">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>

    <input name="is_public" value="N" type="hidden">
</form>