<form>
    <ul>
        <li>
            <label>
                <input name="time_sitting_name" id="time-sitting-name" type="text" placeholder="Time Sitting Name">
            </label>
        </li>
        <li>
            <label>
                <input id="sun" type="checkbox" >
                <input name="sun" type="hidden" value="N">
            </label>
            <label>
                <input id="mon" type="checkbox" >
                <input name="mon" type="hidden" value="N">
            </label>
            <label>
                <input id="tue" type="checkbox" >
                <input name="tue" type="hidden" value="N">
            </label>
            <label>
                <input id="wed" type="checkbox" >
                <input name="wed" type="hidden" value="N">
            </label>
            <label>
                <input id="thu" type="checkbox" >
                <input name="thu" type="hidden" value="N">
            </label>
            <label>
                <input id="fri" type="checkbox" >
                <input name="fri" type="hidden" value="N">
            </label>
            <label>
                <input id="sat" type="checkbox" >
                <input name="sat" type="hidden" value="N">
            </label>
        </li>
        <li>
            <label>
                <input name="start_time" id="start-time" type="time" step="1" placeholder="Start Time" >
            </label>
        </li>
        <li>
            <label>
                <input name="end_time" id="end-time" type="time" step="1" placeholder="End Time" >
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>