<form class="no-edit-form">
    <ul>
        <li>
            <label>
                <input name="menu_group_name" id="menu-group-name" type="text" placeholder="Menu Group Name">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
    <input value="N" name="is_public" type="hidden">
</form>