<form>
    <ul>
        <li>
            <label>
                <input name="modifier_id" id="modifier-id" type="text" placeholder="Modifier Id">
            </label>
        </li>
        <li>
            <label>
                <input name="modifier_option_name" id="modifier-option-name" type="text" placeholder="Modifier Option Name">
            </label>
        </li>
        <li>
            <label>
                <input name="print_label" id="print-label" type="text" placeholder="Print Label">
            </label>
        </li>
        <li>
            <label>
                <input name="price_change" id="price-change" type="text" placeholder="Price Change">
            </label>
        </li>
        <li>
            <label>
                <input name="follow_up_modifier_id" id="follow-up-modifier-id" type="text" placeholder="Follow Up Modifier Id" >
            </label>
        </li>
        <li>
            <label>
                <input name="photo_url" id="photo-url" type="text" placeholder="Photo URL" >
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>