<form>
    <ul>
        <li>
            <label>
                <input name="shift_name" id="shift-name" type="text" placeholder="Shift Name">
            </label>
        </li>
        <li>
            <label>
                <input name="start_time" id="start-time" type="time" step="1" placeholder="Start Time">
            </label>
        </li>
        <li>
            <label>
                <input name="end_time" id="end-time" type="time" step="1" placeholder="End Time">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
    <input name="is_public" value="N" type="hidden">
</form>