<form>
    <ul>
        <li>
            <label>
                <input name="day_of_week" id="days-of-week" type="text" placeholder="Days of Week">
            </label>
        </li>
        <li>
            <label>
                <input name="turn_time" id="turn-time" type="text" placeholder="Turn Time">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>