<form>
    <ul>
        <li>
            <label>
                <input name="associate_id" id="associate-id" type="text" placeholder="Associate Id">
            </label>
        </li>
        <li>
            <label>
                <input name="contact_id" value="0" id="contact-id" type="text" placeholder="Contact Id">
            </label>
        </li>
        <li>
            <label>
                <input name="is_primary_contact" value="N" id="is-primary-contact" type="text" placeholder="Is Primary Contact">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>

    </ul>
</form>