<form>
    <ul>
        <li>
            <label>
                <input name="happy_hour_name" id="happy-hour-name" type="text" placeholder="Happy Hour Name">
            </label>
        </li>
        <li>
            <label>
                <input name="multiplier" id="multiplier" type="text" placeholder="Multiplier" >
            </label>
        </li>
        <li>
            <label>
                <input name="constant" id="constant" type="text" placeholder="Constant" >
            </label>
        </li>
        <li>
            <label>
                <input name="apply_discount_on_modifier" id="apply-discount-on-modifier" type="text" placeholder="Apply Discount on Modifier" >
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>