<form>
    <ul>
        <li>
            <label>
                <input name="item_id" id="item-id" type="text" placeholder="Item Id">
            </label>
        </li>
        <li>
            <label>
                <input name="modifier_id" id="modifier-id" type="text" placeholder="Modifier Id">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>