<div class="item-action">
    <button class="button-edit">
        <i class="fa fa-edit"></i> Edit
    </button>
    <button class="button-delete">
        <i class="fa fa-trash"></i> Delete
    </button>
</div>

<form>
    <ul>
        <li>
            <label>
                <input value="<%= i_item_name %>" name="i_item_name" id="item-id" type="text" placeholder="i_item_name">
            </label>
        </li>
        <li>
            <label>
                <input value="<%= m_modifier_name %>" name="m_modifier_name" id="modifier-id" type="text" placeholder="m_modifier_name">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>