<form>
    <ul>
        <li>
            <label>
                <input name="tax_profile_id" id="tax-profile-id" type="text" placeholder="Tax Profile">
            </label>
        </li>
        <li>
            <label>
                <input name="tag_name" id="tag-name" type="text" placeholder="Tag Name">
            </label>
        </li>
        <li>
            <label>
                <input name="print_label" id="print-label" type="text" placeholder="Print Label">
            </label>
        </li>
        <li>
            <label>
                <input name="multiplier" id="multiplier" type="text" placeholder="Multiplier">
            </label>
        </li>
        <li>
            <label>
                <input name="constant" id="constant" type="text" placeholder="Constant">
            </label>
        </li>
        <li>
            <label>
                <input name="tax_type" id="tax-type" type="text" placeholder="Tax Type">
            </label>
        </li>
        <li>
            <label>
                <input name="computation_type" id="computation-type" type="text" placeholder="Computation Type">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>