<form>
    <ul>
        <li>
            <label>
                <input name="customer_id" id="customer-id" type="text" placeholder="Customer Id">
            </label>
        </li>
        <li>
            <label>
                <input name="variable_name" id="variable-name" type="text" placeholder="Customer Variable Name">
            </label>
        </li>
        <li>
            <label>
                <input name="variable_value" id="variable-value" type="text" placeholder="Customer Variable Value">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>