<form>
    <ul>
        <li>
            <label>
                <span id="user-credential-id-container">
                    <select>
                        <option></option>
                    </select>
                </span>
                <input name="user_credential_id" type="hidden">
            </label>
        </li>
        <li>
            <label>
                <span id="role-id-container">
                    <select>
                        <option></option>
                    </select>
                </span>
                <input name="role_id" type="hidden">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>