<div class="setting-header">Menu</div>
<div class="hammer menu">
    <ul>
        <li id="menu-group-collection">
            <ul class="menu-group-collection controller-collection-list">
                <li>
                    <div>
                        <a class="menu-group-add-item-button"><i class="fa fa-plus"></i> New Menu Group</a>
                    </div>
                </li>
            </ul>
        </li>

        <li id="menu-group-detail"></li>

        <li id="menu-item-collection"></li>
        <li id="menu-item-detail"></li>
        <li id="menu-item-modifier"></li>

    </ul>
</div>
