<div class="setting-header">{display-title}</div>
<div class="hammer {model-class}">
    <ul>
        <li class="item-list">
            <ul class="{model-class}-collection controller-collection-list">
                <li>
                    <div>
                        <a class="{model-class}-add-item-button"><i class="fa fa-plus"></i> Add / New {model}</a>
                    </div>
                </li>
            </ul>
        </li>

        <li id="{model-class}-details-container" class="item-details"></li>

    </ul>
</div>
