<div class="item-action">
    <button class="button-edit">
        <i class="fa fa-edit"></i> Edit
    </button>
    <button class="button-delete">
        <i class="fa fa-trash"></i> Delete
    </button>
</div>

<form>
    <ul>
        <li>
            <label>
                <input value="<%= d_department_id %>" name="d_department_id" id="department-id" type="text" placeholder="Department">
            </label>
        </li>
        <li>
            <label>
                <input value="<%= s_shift_id %>" name="s_shift_id" id="shift-id" type="text" placeholder="Shift">
            </label>
        </li>
        <li>
            <label>
                <input value="<%= designation %>" name="designation" id="designation" type="text" placeholder="Designation" >
            </label>
        </li>
        <li>
            <label>
                <input value="<%= employee_id %>" name="employee_id" id="employee-id" type="text" placeholder="Employee" >
            </label>
        </li>
        <li>
            <label>
                <input value="<%= first_name %>" name="first_name" id="first-name" type="text" placeholder="First Name" >
            </label>
        </li>
        <li>
            <label>
                <input value="<%= last_name %>" name="last_name" id="last-name" type="text" placeholder="Last Name" >
            </label>
        </li>
        <li>
            <label>
                <input value="<%= address %>" name="address" id="address" type="text" placeholder="Address">
            </label>
        </li>
        <li>
            <label>
                <input value="<%= city %>" name="city" id="city" type="text" placeholder="City">
            </label>
        </li>
        <li>
            <label>
                <input value="<%= province %>" name="province" id="province" type="text" placeholder="Province">
            </label>
        </li>
        <li>
            <label>
                <input value="<%= zip_code %>" name="zip_code" id="zip-code" type="text" placeholder="Zip Code">
            </label>
        </li>
        <li>
            <label>
                <input value="<%= email %>" name="email" id="email" type="text" placeholder="Email">
            </label>
        </li>
        <li>
            <label>
                <input value="<%= phone %>" name="phone" id="phone" type="text" placeholder="Phone">
            </label>
        </li>
        <li>
            <label>
                <input value="<%= phone2 %>" name="phone2" id="phone2" type="text" placeholder="Phone 2">
            </label>
        </li>
        <li>
            <label>
                <input value="<%= photo_url %>" name="photo_url" id="photo-url" type="text" placeholder="Photo URL">
            </label>
        </li>
        <li>
            <label>
                <input value="<%= remarks %>" name="remarks" id="remarks" type="text" placeholder="Remarks">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>