<form>
    <ul>
        <li>
            <label>
                <input name="menu_category_name" id="menu-category-name" type="text" placeholder="Menu Category Name">
            </label>
        </li>
        <li>
            <label>
                <input name="kitchen_area_id" id="kitchen-area-id" type="text" placeholder="Kitchen Area Id">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
    <input name="is_public" type="hidden" id="is-public" value="N">
</form>