<form>
    <ul>
        <li>
            <label>
                <input name="tax_profile_name" id="tax-profile-name" type="text" placeholder="Tax Profile Name">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
    <input name="is_public" value="N" type="hidden">
</form>