<form>
    <ul>
        <li>
            <label>
                <input name="associate_name" id="associate-name" type="text" placeholder="Associate Name">
            </label>
        </li>
        <li>
            <label>
                <input name="associate_code" value="0" id="associate-code" type="text" placeholder="Associate Code">
            </label>
        </li>
        <li>
            <label>
                <input name="associate_type" value="SUPPLIER" id="associate-type" type="text" placeholder="Associate Type">
            </label>
        </li>
        <li>
            <label>
                <input name="physical_address" id="physical-address" type="text" placeholder="Physical Address">
            </label>
        </li>
        <li>
            <label>
                <input name="physical_city" id="physical-city" type="text" placeholder="Physical City">
            </label>
        </li>
        <li>
            <label>
                <input name="physical_province" id="physical-province" type="text" placeholder="Physical Province">
            </label>
        </li>
        <li>
            <label>
                <input name="physical_zip_code" id="physical-zip-code" type="text" placeholder="Physical Zip Code">
            </label>
        </li>
        <li>
            <label>
                <input name="mailing_address" id="mailing-address" type="text" placeholder="Mailing Address">
            </label>
        </li>
        <li>
            <label>
                <input name="mailing_city" id="mailing-city" type="text" placeholder="Mailing City">
            </label>
        </li>
        <li>
            <label>
                <input name="mailing_province" id="mailing-province" type="text" placeholder="Mailing Province">
            </label>
        </li>
        <li>
            <label>
                <input name="mailing_zip_code" id="mailing-zip-code" type="text" placeholder="Mailing Zip Code">
            </label>
        </li>
        <li>
            <label>
                <input name="email" id="email" type="text" placeholder="Email">
            </label>
        </li>
        <li>
            <label>
                <input name="phone" id="phone" type="text" placeholder="Phone">
            </label>
        </li>
        <li>
            <label>
                <input name="phone2" id="phone2" type="text" placeholder="Phone 2">
            </label>
        </li>
        <li>
            <label>
                <input name="fax" id="fax" type="text" placeholder="Fax">
            </label>
        </li>
        <li>
            <label>
                <input name="remarks" id="remarks" type="text" placeholder="Remarks">
            </label>
        </li>
        <li>
            <label>
                <input name="photo_url" id="photo-url" type="text" placeholder="Photo Url">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>

    <input name="is_public" value="N" type="hidden">
</form>