<form>
    <ul>
        <li>
            <label>
                <input value="0a2df8b136c9e14f52edfad0d5cd0726" name="inventory_group_id" id="inventory-group-id" type="text" placeholder="Inventory Group ID">
            </label>
        </li>
        <li>
            <label>
                <input value="3caea12ca4f562401852d396b4f465a3" name="item_id" id="item-id" type="text" placeholder="Item ID">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>