<form>
    <ul>
        <li>
            <label>
                <input name="happy_hour_id" id="happy-hour-id" type="text" placeholder="Happy Hour">
            </label>
        </li>
        <li>
            <label>
                <input name="start_time" id="start-time" type="time" step="1" placeholder="Start Time" >
            </label>
        </li>
        <li>
            <label>
                <input name="end_time" id="end-time" type="time" step="1" placeholder="End Time" >
            </label>
        </li>
        <li>
            <label>
                <input name="sun" id="sun" type="text" placeholder="Sunday" >
            </label>
        </li>
        <li>
            <label>
                <input name="mon" id="mon" type="text" placeholder="Monday" >
            </label>
        </li>
        <li>
            <label>
                <input name="tue" id="tue" type="text" placeholder="Tuesday" >
            </label>
        </li>
        <li>
            <label>
                <input name="wed" id="wed" type="text" placeholder="Wednesday" >
            </label>
        </li>
        <li>
            <label>
                <input name="thu" id="thu" type="text" placeholder="Thursday" >
            </label>
        </li>
        <li>
            <label>
                <input name="fri" id="fri" type="text" placeholder="Friday" >
            </label>
        </li>
        <li>
            <label>
                <input name="sat" id="sat" type="text" placeholder="Saturday" >
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>