<form>
    <ul>
        <li>
            <label>
                <input name="user_id" id="user-id" type="text" placeholder="User Id">
            </label>
        </li>
        <li>
            <label>
                <input name="username" id="username" type="text" placeholder="Username">
            </label>
        </li>
        <li>
            <label>
                <input name="hashed_password" id="hashed-password" type="text" placeholder="Hashed Password">
            </label>
        </li>
        <li>
            <label>
                <input name="pin_code" id="pin-code" type="text" placeholder="Pin Code">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>