<ul class="login-form">
    <li class="user-list-item">
        <div data-branch-id="0" data-user-id="0" data-username="migz">
            <div class="user-item-img"></div>
            <div class="user-item-first-name">migz</div>
        </div>
    </li>
    <li>
        <input type="text" value="migz" placeholder="Username" class="user">
    </li>
    <li>
        <input type="password"  value="123123" pattern="[0-9]*" inputmode="numeric" placeholder="Password" class="login-password">
    </li>
    <li>
        <input type="button" value="Log in" class="login-button">
    </li>
</ul>

