

<div class="wrapper-main">
        <header>
            <div class="app-header-title">
                <a href="">
                    <img class="app-icon" src="../vanilla.png">
                    <h1 class="app-title">vanilla.app</h1>
                </a>
            </div>
            <div class="reset-app"><i class="fa fa-refresh"></i></div>
        </header>

        <div id="main-container">
            <nav>
                <div class="main-nav">
                    <ul>
                        <li>Nav 0</li>
                        <li>Nav 1</li>
                        <li>Nav 2</li>
                        <li>Nav 3</li>
                        <li>Nav 4</li>
                    </ul>
                </div>
                <div id="content-title">
                    <i class="fa fa-globe"></i> Select Branch
                </div>
                <div id="user-menu">
                    <a>
                        <span class="user-menu-avatar">

                        </span>
                        <span class="user-menu-name">
                            Me
                        </span>
                    </a>
                </div>
            </nav>
            <main>

            </main>
        </div>
</div>
<div class="wrapper-footer">
        <footer>
            <a class="footer-toggle-menu"><i class="fa fa-chevron-up"></i></a>
            <div>
                <ul>
                    <li><i class="fa fa-warning"></i></li>
                    <li><i class="fa fa-volume-down"></i></li>
                    <li><i class="fa fa-wrench"></i></li>
                    <li><i class="fa fa-steam"></i></li>
                </ul>
            </div>
        </footer>
</div>