<form>
    <ul>

        <li>
            <label>
                Pin
            </label>
        </li>
        <li>
            <label>
                <input name="pin_code" type="hidden">
                <input type="text" placeholder="****">
            </label>
        </li>

        <li>
            <ul class="pin-pad">
                <li><div class="pad-number pad-num-1">1</div></li>
                <li><div class="pad-number pad-num-2">2</div></li>
                <li><div class="pad-number pad-num-3">3</div></li>

                <li><div class="pad-number pad-num-4">4</div></li>
                <li><div class="pad-number pad-num-5">5</div></li>
                <li><div class="pad-number pad-num-6">6</div></li>

                <li><div class="pad-number pad-num-7">7</div></li>
                <li><div class="pad-number pad-num-8">8</div></li>
                <li><div class="pad-number pad-num-9">9</div></li>

                <li>
                    <div class="pad-number pad-num-x">
                        <button class="button-erase">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </li>
                <li><div class="pad-number pad-num-0">0</div></li>
                <li>
                    <div class="pad-number pad-num-s">
                        <button class="button-save">
                            <i class="fa fa-sign-in"></i>
                        </button>
                    </div>
                </li>
            </ul>

        </li>
    </ul>
</form>

