<ul class="app-list">
    <li>
        <a id="controller">
            <!--<i class="fa fa-paw select-app-icon"></i>-->
            <i class="fa fa-steam"></i>
            <div class="select-app-title">
                 Control Panel
            </div>
                <span class="select-app-description">
                </span>
        </a>
    </li>
    <li>
        <a id="pos">
            <!--<i class="fa fa-tree select-app-icon"></i>-->
            <i class="fa fa-cutlery"></i>
            <div class="select-app-title">
                POS
            </div>
                <span class="select-app-description">
                </span>
        </a>
    </li>
    <li>
        <a id="extensions">
            <!--<i class="fa fa-ra select-app-icon"></i>-->
            <i class="fa fa-desktop"></i>
            <div class="select-app-title">
                 Extensions
            </div>
                <span class="select-app-description">
                </span>
        </a>
    </li>
</ul>
<!--ul class="app-list-nav">
    <li>
        <a id="app-controller"></a>
    </li>
    <li>
        <a id="app-pos"></a>
    </li>
    <li>
        <a id="app-extensions"></a>
    </li>
</ul-->