<form>
    <ul>
        <li>
            <label>
                <input name="area_name" id="area-name" type="text" placeholder="Area Name">
            </label>
        </li>
        <li>
            <label>
                <select>
                    <option>kitchen</option>
                    <option>bathroom</option>
                    <option>potato</option>
                </select>
                <input name="printer_id" id="printer-id" type="hidden" value="">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>