<form>
    <ul>
        <li>
            <label>
                <input name="i_item_name" id="i-item-name" type="text" placeholder="Item Name">
            </label>
        </li>
        <li>
            <label>
                <input name="hh_happy_hour_name" id="happy-hour-id" type="text" placeholder="Happy Hour Name">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>