<form>
    <ul>
        <li>
            <label>
                <input name="special_operation_name" id="special-operation-name" type="text" placeholder="Special Operation Name">
            </label>
        </li>
        <li>
            <label>
                <input name="special_operation_date" id="special-operation-date" type="date" placeholder="Special Operation Date">
            </label>
        </li>
        <li>
            <label>
                <input name="opening_time" id="opening-time" type="time" step="1" placeholder="Opening Time">
            </label>
        </li>
        <li>
            <label>
                <input name="closing_time" id="closing-time" type="time" step="1" placeholder="Closing Time">
            </label>
        </li>
        <li>
            <label>
                <input name="remarks" id="remarks" type="text" placeholder="Remarks">
            </label>
        </li>
        <li>
            <button class="button-save">
                <i class="fa fa-floppy-o"></i> Save
            </button>

            <button class="button-cancel">
                <i class="fa fa-times"></i> Cancel
            </button>
        </li>
    </ul>
</form>